.App {
  box-sizing: border-box;
  text-align: center;
}

.Text-Fill {
  color: #889c05;
}

.Menu {
  background-color: #eae9e7;
}

#button {
  background-color: #ff0000;
}
#sidemenu {
  height: 18em;
  width: 7em;
  position: relative;
  background-color: #575958;
  font-size: 1em;
  float:left;
}

#tableContainer
{
  height: 38em;
}