.App {
  box-sizing: border-box;
  text-align: center;
}

.Text-Fill {
  color: #889c05;
}

.Menu {
  background-color: #eae9e7;
}

#button {
  background-color: #ff0000;
}
#sidemenu {
  height: 100vh;
  width: 240px;
  position: fixed;
  background-color: #575958;
  font-size: 30px;
}
